#footer {
        display: none;
}
#header {
        display: none;
}
#content {
        display: flex;
        flex-direction: column;
}
#post-tags {
        display: flex;
        gap: 5px;
}
main ul {
        margin-bottom: 15px;
}
