:root{
    --sheet: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAACEElEQVR4Xu3cQXLCMBBEUeD+Z45xChbGjkszmi8ElZ8tQ1t6ahIIFNeLP6jAFU0z7CIoXAJBBYUF4DgbKigsAMfZUEFhATjOhgoKC8BxNvQLQRd4ze+OS5UuNdy5E0E74c7uNgX0tynQhVOlSw13Qh/2dVuDfiJhoErkciczKaPUcHBRrWKMuGZwaaGx/fpT600Nh5bTfqSNuGZwaaExQUNM8SFB41ahyemgy+5vx/4hXVpgiIAdKq2X+H3WWkDrdpajnlZar6DHAxC0XsqXhLeDtp5ntvZHPCpa16jcLmhF74/7CiooLADHTW/op/9OzHoLmhVrzAsqKCwAx9lQQWEBOM6GCgoLwHE2VFBYAI6zoYLCAnCcDRUUFoDjbKigsAAcZ0MFhQXgOBtKgq4ftVx2H7VMvSORGn4uvHSC5OYHZZX2J+jxVASFmyqooLAAHGdDBYUF4LiJDX18dLnnmQJsgMZNBH3sQ9DNefZglE4Q7dKYsNL+BPWJ/ZhablJtKEwsqKCwABxnQwWFBeA4GyooLADH2VASdH2ls+xEUy9+UsPPhZdOkNz8kKzb+u+e13fpUkap4RPQIfuaHbr5opmUUWq4BzT8DTizBc+vnzJKDfeA0k4TvnkoZZQa/gRQ+oACeSmj1HDg4v9+RFC4AoIKCgvAcTZUUFgAjrOhgsICcJwNFRQWgONsqKCwABx3BydFf1U6hlyPAAAAAElFTkSuQmCC") 28 /  28px / 0 round;
}
/*@media (prefers-color-scheme: dark) {
        :root {
                --sheet: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAB6UlEQVR4Xu3c4RKBUBRFYXn/VyYZGQqdOc5yS7P8rXa37+4KI93BFyrQoWmGHQSFSyCooLAAHGdDBYUF4DgbKigsAMfZUEFhATjOhv4baD+84DF/jDsPS46Vnb0J6IZXJjK1cib4vi4Lep2bnw95cpg7B/1mSmvbCFrze9l6ddDoFM8OEPYJ4+bjz44XvyAJGs5ZbgVBc17h2oKGRMsrRNecaHlx9/jm1fGWr6HRAKLluEgx8DHe23ve5jelCCxaXjx+fPPqeG3obEqag0Y3nagy2VMoyqOXCwqLCipo7usw2CuMW72hW78mhoJbuykJOp2R9Num6imRbUzr9avHJ6in/G87a0NhX0EFhQXgOBsqKCwAx9lQQWEBOG69ho6/A/Kjpx89Fzu9XkPHYdlQG2pD4fuOoIK2FID35U1JUFgAjrOhgsICcJwNFRQWgONsqKCwABxnQwWFBeC4vj+Nz6benhrNfpvmL0dmE+Ipjzd0+vS0DS0C29Ai4HxzQQWFBeA4GyooLADH2VBBYQE4rnlDT8Men//KJ/vGFz5+PK45aPVZT1wACFz686JsYcqf5YHj2XSEoPD0CPpvoPB4dxeXvobuTgA+IEEFhQXgOBsqKCwAx9lQQWEBOM6GCgoLwHE2VFBYAI67APJI1mTRL5YZAAAAAElFTkSuQmCC") 28 /  28px / 0 round;
        }
}
*/
main {
        text-transform: none;
}
h4 {
        margin-bottom: 15px;
}
p {
        margin-top: 0px;
}
#post-tags {
        display: flex;
        gap: 10px;
}
.blog-image-container {
        display: flex;
        justify-content: center;
}
.blog-image {
        width: 50%;
}
.sheet-shadow {
        border-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAABqElEQVR4Xu3bQY7CMBBE0eT+hwa2BCF3d/0kivRni1N2vxRmNfvmHyqwo2mGbYLCJRBUUFgAjrOhgsICcJwNFRQWgONsqKCwABxnQx8I+oLPfHVcq3StxcNJBB3C/XtMUEG/BFrf4tbiIvSqkWfsWTxaadnx/K3zthaXjrNtghahqssErUoV1wlahKr+ih+vkehOCs82eTw6L3GHrg6w+nwy9JnPROcV9PfVCArX9XLQ1Y/Oaj7iW7HaI/k8mm8yXLThZ9LJnglQ99lovslw0YaCri/tbgMmL7G7R7I+KsxkuOjSTia96FlBYWhBBYUF4DgbKigsAMfZUEFhATjOhgoKC8BxNlRQWACOs6GCwgJwnA0VFBaA42yooLAAHGdDBYUF4DgbKigsAMfZUEFhATjOhgoKC8BxNlRQWACOs6GCwgJwnA0VFBaA42yooLAAHGdDBYUF4DgbKigsAMfZUEFhATju9obC8zw7jvjHr2cLwKcXVFBYAI6bNLR7hOiS725293pB4TcgqKCwABxnQwWFBeA4GyooLADH2VBBYQE4zoYKCgvAcW/yqIAZzrdtfAAAAABJRU5ErkJggg==') 28 /  28px / 0 round;
        border-width:  28px;
        border-style:  solid; 
}
.sheet {
    border-image:  var(--sheet);
    border-width:  28px;
    border-style:  solid;
}
